<%- include("../../partials/head.ejs")  %>

    <div class="container my-container py-5 notFound-error">
        <h1 class="text-center display-1">Internal server error</h1>
    </div>
    <%- include("../../partials/footer.ejs")  %>

</body>
</html>