* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	background-color: rgb(245, 245, 245);
}
body {
	position: relative;
}
a {
	text-decoration: none;
}
nav {
	position: sticky !important;
	position: -webkit-sticky;
	top: 0;
	left: 0;
	z-index: 999;
}
.brand-logo {
	width: 35px;
	height: 35px;
}
.my-container {
	min-height: 510px;
}
.notFound-error {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
footer {
	padding: 20px 0px;
	background-color: #212529;
	color: white;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
footer p {
	font-size: 14px !important;
	margin-bottom: 0;
}
footer p a {
	color: rgb(215, 233, 250);
}
